.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/
.dummy/
include/
lib/
src/
Test/
Web/
managed_components/
build/boot_app0.bin
build/bootloader.bin
build/esptool.exe
build/partitions.bin
boards/
*.csv
*.cmd
*.ini
*.py
*.txt
dependencies.lock
sdkconfig.defaults
sdkconfig.wemos_d1_mini32_IDF5dev
